<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="login.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&family=Righteous&display=swap"
        rel="stylesheet" 
    />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <title>ScheduleApp Login</title>
</head>
<body>
    
    <div id="login_card">

        <div class="logo">

            <img src="../../utils/assets/images/logo_books.png" id="logo_image" alt="Logo Image">

            <label>ScheduleApp</label>

            
        </div>

        <form action="/Home/Login">
            
            <input type="email" class="credential_input" id="input_email" placeholder="E-mail" name="input_email">
    
            <input type="password" class="credential_input" id="input_password" placeholder="Password" name="input_password">

            <p> Credentials don't match! Try again.</p>

            <button type="submit" class="submit_button" name="login_button">LOG IN</button>
    
        </form>

    </div>

</body>
</html>